/* styles.css */

/* General HUD container styling */
#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    max-width: 500px; /* Adjust width as needed */
    font-family: Arial, sans-serif;
  }
  
  /* Styling for HUD elements */
  #hud div {
    margin: 0 10px;
  }
  
  /* Countdown timer styling */
  #hud div:first-child {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Player lives styling */
  #hud div:nth-child(n+2) {
    font-size: 16px;
    font-weight: normal;
  }
  
  /* Add responsiveness */
  @media (max-width: 600px) {
    #hud {
      width: 100%;
      bottom: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
    }
  
    #hud div {
      margin: 5px 0;
    }
  }
  
  /* ///////////////////////////////////////////// */
  #waitingArea {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
  }
  
  #waitingArea p {
    font-size: 1.2em;
    color: #333;
  }
  

  #countdownTimer {
    display: none;
    font-weight: bold;
    color: #d9534f;
  }
  
  #instructionsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
  }
  
  .instruction-title {
    font-size: 16px;
    color: #333;
  }
  
  .instruction-objective {
    font-size: 1.4em;
    color: #666;
    text-align: center;
  }
  
  .instruction-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .instruction-item img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  
  .instruction-item p {
    font-size: 1.1em;
    color: #333;
    margin: 0;
  }
  
  @media (max-width: 600px) {
    .instruction-item {
      flex-direction: column;
      text-align: center;
    }
  
    .instruction-item img {
      margin-bottom: 10px;
    }
  }
/* /////////////////////////////////////////////   */
.game-over {
    font-size: 3em;
    color: #d9534f;
    margin-bottom: 20px;
    text-shadow: 2px 2px #000;
  }
  
  .winner-display {
    font-size: 2em;
    color: #5cb85c;
    text-shadow: 1px 1px #333;
    margin-top: 10px;
  }
  
  #gameGrid h1, #gameGrid h2 {
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  /* /////////////////////////////////////////////   */

/*  General styles */
a {
    color: #1a0404;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

#overlay{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
#landingPage , #nicknamePopup , #gameGrid{
    display: none;
    position: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    
}

#logo{
    width: 200px;
    margin-bottom: 20px;
    /* in center */
    display: block;
    margin-left: auto;
}
#nicknameInput{
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin: 20px;
}

  /* Button styles */
  #startGameButton, #submitnicknameButton {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #startGameButton, #submitUsernameButton:hover {
    background-color: #e68900;
  }

    /* Input styles */
.grid {
    float:center;
    width:1114px;
    height:820px;
    display: flex;
    position: flex; 
    flex-wrap:wrap;
    background: url('./images/wall/walkable.png') no-repeat;
    background-size: 1500px;
    border-radius: 20px;
    margin-left: 150px;
    transform: translateZ(1);
    background-color: black;
}

.grid div {
    /* background: url('./images/wall/walkable.png') no-repeat; */
    background-size: 48.1px 48.4px;
    width: 48.4px;
    height: 48.1px;
    /* border:solid 0.1px purple; */
    box-sizing: border-box;
}

div .wall {
    background: url('./images/wall/wall.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanWhiteGoingDown.bomb {
    background: url('./images/bombermanWhite/bombermanWhiteGoingDownBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanWhiteGoingRight.bomb {
    background: url('./images/bombermanWhite/bombermanWhiteGoingRightBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanWhiteGoingLeft.bomb {
    background: url('./images/bombermanWhite/bombermanWhiteGoingLeftBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanWhiteGoingUp.bomb {
    background: url('./images/bombermanWhite/bombermanWhiteGoingUpBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanWhiteGoingRight.bomb {
    background: url('./images/bombermanWhite/bombermanWhiteGoingRightBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanWhiteGoingDown {
    background: url('./images/bombermanWhite/bombermanWhiteGoingDown.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanWhiteGoingRight {
    background: url('./images/bombermanWhite/bombermanWhiteGoingRight.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanWhiteGoingLeft {
    background: url('./images/bombermanWhite/bombermanWhiteGoingLeft.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanWhiteGoingUp {
    background: url('./images/bombermanWhite/bombermanWhiteGoingUp.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanRedGoingDown.bomb {
    background: url('./images/bombermanRed/bombermanRedGoingDownBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanRedGoingRight.bomb {
    background: url('./images/bombermanRed/bombermanRedGoingRightBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanRedGoingLeft.bomb {
    background: url('./images/bombermanRed/bombermanRedGoingLeftBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanRedGoingUp.bomb {
    background: url('./images/bombermanRed/bombermanRedGoingUpBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanRedGoingRight.bomb {
    background: url('./images/bombermanRed/bombermanRedGoingRightBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanRedGoingDown {
    background: url('./images/bombermanRed/bombermanRedGoingDown.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanRedGoingRight {
    background: url('./images/bombermanRed/bombermanRedGoingRight.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanRedGoingLeft {
    background: url('./images/bombermanRed/bombermanRedGoingLeft.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanRedGoingUp {
    background: url('./images/bombermanRed/bombermanRedGoingUp.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanBlackGoingDown.bomb {
    background: url('./images/bombermanBlack/bombermanBlackGoingDownBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanBlackGoingRight.bomb {
    background: url('./images/bombermanBlack/bombermanBlackGoingRightBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanBlackGoingLeft.bomb {
    background: url('./images/bombermanBlack/bombermanBlackGoingLeftBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanBlackGoingUp.bomb {
    background: url('./images/bombermanBlack/bombermanBlackGoingUpBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlackGoingRight.bomb {
    background: url('./images/bombermanBlack/bombermanBlackGoingRightBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlackGoingDown {
    background: url('./images/bombermanBlack/bombermanBlackGoingDown.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlackGoingRight {
    background: url('./images/bombermanBlack/bombermanBlackGoingRight.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlackGoingLeft {
    background: url('./images/bombermanBlack/bombermanBlackGoingLeft.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlackGoingUp {
    background: url('./images/bombermanBlack/bombermanBlackGoingUp.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanBlueGoingDown.bomb {
    background: url('./images/bombermanBlue/bombermanBlueGoingDownBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanBlueGoingRight.bomb {
    background: url('./images/bombermanBlue/bombermanBlueGoingRightBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanBlueGoingLeft.bomb {
    background: url('./images/bombermanBlue/bombermanBlueGoingLeftBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}


div .bombermanBlueGoingUp.bomb {
    background: url('./images/bombermanBlue/bombermanBlueGoingUpBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlueGoingRight.bomb {
    background: url('./images/bombermanBlue/bombermanBlueGoingRightBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlueGoingDown {
    background: url('./images/bombermanBlue/bombermanBlueGoingDown.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlueGoingRight {
    background: url('./images/bombermanBlue/bombermanBlueGoingRight.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlueGoingLeft {
    background: url('./images/bombermanBlue/bombermanBlueGoingLeft.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bombermanBlueGoingUp {
    background: url('./images/bombermanBlue/bombermanBlueGoingUp.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .bomb {
    background: url('./images/bomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .powerBombDropped {
    background: url('./images/powerBomb.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .explosion {
    background: url('./images/explosion.png') no-repeat;
    background-size: 48.4px 48.1px;
}

div .sideExplosion {
        background: url('./images/sideExplosion.png') no-repeat;
        background-size: 48.4px 48.1px;
    }
    
div .powerBomb {
        background: url('./images/powerUps/PowerBombPowerUp.png') no-repeat;
        background-size: 48.4px 48.1px;
    }
    
div .extraBomb {
        background: url('./images/powerUps/extraBombPowerUp.png') no-repeat;
        background-size: 48.4px 48.1px;
    }
    
div .skate {
        background: url('./images/powerUps/speedPowerUp.png') no-repeat;
        background-size: 48.4px 48.1px;
    }
    
div .breakableWall {
        background: url('./images/wall/wall100.png') no-repeat;
        background-size: 48.4px 48.1px;
    }
    
div .breakWall {
        animation-name:breakWall;
        animation-duration: 0.5s;
        font-size:10px
    }
    
    @keyframes breakWall {
        100%   {background: url('./images/wall/wall0.png') no-repeat;background-size: 48.4px 48.1px;}
        80%  {background: url('./images/wall/wall10.png') no-repeat;background-size: 48.4px 48.1px;}
    60%  {background: url('./images/wall/wall20.png') no-repeat;background-size: 48.4px 48.1px;}
    40%  {background: url('./images/wall/wall40.png') no-repeat;background-size: 48.4px 48.1px;}
    20%  {background: url('./images/wall/wall60.png') no-repeat;background-size: 48.4px 48.1px;}
    10%  {background: url('./images/wall/wall80.png') no-repeat;background-size: 48.4px 48.1px;}
    0% {background: url('./images/wall/wall100.png') no-repeat;background-size: 48.4px 48.1px;}
  }

div .dead {
    animation-name:dying;
    animation-duration: 1s;
    font-size:10px
  }

@keyframes dying {
    /* 100% {background: url('./images/headlessWhiteBomberman.png') no-repeat;background-size: 48.4px 48.1px;}
60% {background: url('./images/headlessWhiteBomberman.png') no-repeat;background-size: 48.4px 48.1px;}
30%  {background: url('./images/bombermanWhiteDead.png') no-repeat;background-size: 48.4px 48.1px;} */
0%   {background: url('./images/dying25.png') no-repeat;background-size: 48.4px 48.1px;}
}

